<!DOCTYPE html>
<html lang="en">

<%- include('layouts/headerLog'); -%>

    <body>
        <div class="wrapper">
            <header class="header">
                <a href="#" class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                        class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                        <path
                            d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    </svg>
                </a>
                <h1>Admin Database Login</h1>
            </header>

            <form class="form-login" action="/admin/users/login" method="POST">
                <label for="user">
                    Username or email address
                    <input class="field" type="text" name="username" id="user" autocomplete="off" required>
                </label>
                <label for="password">
                    Password
                    <input class="field" type="password" name="password" id="password" autocomplete="off" required>
                </label>

                <input class="button" type="submit" value="Sign in">
                <p onclick="pass()" style="font-size: 12px; color: #24292d; cursor: pointer;">Quên mật khẩu?</p>
            </form>
        </div>
    </body>
    <footer class="bg-light text-center bg-dark text-white text-lg-start"
        style="position: fixed; bottom: 0; width: 100%; background-color: #24292d; height: 50px; line-height: 50px; color: #fff;  text-align: center; font-family: Arial, Helvetica, sans-serif">
        <!-- Copyright -->
        <div class="text-center p-3">
            © 2021 Copyright:
            <a class="text-light" target="_blank" href="https://www.facebook.com/uommamkhoahockythuat">Club Ươm Mầm Khoa
                Học Kĩ Thuật</a>
        </div>
        <!-- Copyright -->
    </footer>
    <script>
        function pass() {
            alert(`
            Các bước lấy lại tài khoản:
            Bước 1: Nhấn Get Start.
            Bước 2: Gõ "travel password".
            `)
            window.open('https://www.messenger.com/t/102513617770387', '_blank');
        }
    </script>

</html>