<!DOCTYPE html>
<html lang="en">
    <!--Header-->
    <%- include('layouts/header'); -%>
    <style>
        .h4{
            line-height: 2em;
        }
    </style>
<body>
    <!--Nav-->
    <%- include('layouts/nav'); -%>
    <div class="container" style="font-family: 'Roboto', sans-serif; ">
        <br><br>
        <p class="h1" style="margin-top: 30px; margin-bottom: 30px;text-align: center;">Thành Phố Biên Hòa</p>
        <div class="row justify-content-start">
            <div class="col-md-6"><img src="client/img/bienhoa.jpg"  width="100%" style="image-rendering: pixelated;" alt=""></div>
            <div class="col-md-6"><img src="client/img/bienhoa.jpg"  width="100%" style="image-rendering: pixelated;" alt=""></div>
        </div>
        <ul class="list-unstyled">
            <li><p class="h1" style="margin-top: 30px">I. Vị trí địa lý</p></li>
            <li><p class="h3">Thành phố Biên Hòa nằm ở phía Tây tỉnh Đồng Nai, có vị trí địa lý:</p>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">- Phía Đông giáp huyện Trảng Bom</p></li>
                    <li><p class="h4">- Phía Đông giáp huyện Trảng Bom</p></li>
                    <li><p class="h4">- Phía Đông giáp huyện Trảng Bom</p></li>
                    <li><p class="h4">- Phía Đông giáp huyện Trảng Bom</p></li>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">II. Tổng quan</p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">- Diện tích: 264.08 km2</p></li>
                    <li><p class="h4">- Dân số: 1.100.000 người </p></li>
                    <li><p class="h4">- Mật độ dân cư: 4.165 người/km2</p></li>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">II. Tổng quan</p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">- Diện tích: 264.08 km2</p></li>
                    <li><p class="h4">- Dân số: 1.100.000 người </p></li>
                    <li><p class="h4">- Mật độ dân cư: 4.165 người/km2</p></li>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">III. Đơn vị hành chính</p></li>
                <ul style="margin-left: 10px;">
                    <div class="row justify-content-start">
                        <div class="col-md-6">
                            <li class="lh-lg"><p class="h4 lh-lg">Thành phố Biên Hòa có 30 đơn vị hành chính cấp xã trực thuộc, bao gồm 29 phường và 1 xã: An Bình, An Hòa, Bình Đa, Bửu Hòa, Bửu Long, Hiệp Hòa, Hóa An, Hòa Bình, Hố Nai, Long Bình, Long Bình Tân, Phước Tân, Quang Vinh, Quyết Thắng, Tam Hiệp, Tam Hòa, Tam Phước, Tân Biên, Tân Hạnh, Tân Hòa, Tân Hiệp, Tân Mai, Tân Phong, Tân Tiến, Tân Vạn, Thanh Bình, Thống Nhất, Trảng Dài, Trung Dũng và xã Long Hưng. </p></li>
                        </div>
                        <div class="col-md-6"><img src="client/img/bienhoa.jpg"  width="100%" style="image-rendering: pixelated;" alt=""></div>
                    </div>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">IV. Điều kiện tự nhiên:</p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">Do nằm trong khu vực Đông Nam Bộ nên chịu ảnh hưởng của khí hậu nhiệt đới gió mùa chung của toàn khu vực gồm 2 mùa rõ rệt gồm mùa mưa và mùa khô. Mùa mưa thường bắt đầu từ tháng 5 và kéo dài đến tháng 10, mùa khô thường bắt đầu từ tháng 11 đến tháng 4 năm sau. Nhiệt độ trung bình trong năm từ khoảng 25,4 °C đến 27,2 °C</p></li>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">V. Kinh tế:</p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">Từ năm 2015 đến năm 2020, ngành công nghiệp (CN) tiếp tục giữ vai trò chủ đạo trong phát triển kinh tế của thành phố với giá trị sản xuất CN tăng bình quân 10,97%/năm, thu hút được các ngành CN công nghệ cao thân thiện với môi trường thuộc các nhóm ngành chế biến lâm sản; chế biến nông sản thực phẩm; cơ khí nông nghiệp; thiết bị điện, điện tử; hàng nhựa, hóa chất - chiếm tỷ trọng cao trong tổng giá trị sản xuất hàng hóa và từng bước đáp ứng yêu cầu hội nhập, cạnh tranh quốc tế. Đến nay, 6 KCN trên địa bàn đã thu hút được 450 doanh nghiệp (DN) thuê đất kinh doanh, tạo phần lớn giá trị sản xuất trên địa bàn. Thành phố cũng đã đầu tư hạ tầng cụm CN gốm sứ Tân Hạnh để di dời các cơ sở sản xuất gốm ra khỏi địa bàn khu dân cư và bước đầu đã có 28 đơn vị triển khai đầu tư.
                    </p></li>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">VI. Các khu công nghiệp: </p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">Từ năm 2015 đến năm 2020, ngành công nghiệp (CN) tiếp tục giữ vai trò chủ đạo trong phát triển kinh tế của thành phố với giá trị sản xuất CN tăng bình quân 10,97%/năm, thu hút được các ngành CN công nghệ cao thân thiện với môi trường thuộc các nhóm ngành chế biến lâm sản; chế biến nông sản thực phẩm; cơ khí nông nghiệp; thiết bị điện, điện tử; hàng nhựa, hóa chất - chiếm tỷ trọng cao trong tổng giá trị sản xuất hàng hóa và từng bước đáp ứng yêu cầu hội nhập, cạnh tranh quốc tế. Đến nay, 6 KCN trên địa bàn đã thu hút được 450 doanh nghiệp (DN) thuê đất kinh doanh, tạo phần lớn giá trị sản xuất trên địa bàn. Thành phố cũng đã đầu tư hạ tầng cụm CN gốm sứ Tân Hạnh để di dời các cơ sở sản xuất gốm ra khỏi địa bàn khu dân cư và bước đầu đã có 28 đơn vị triển khai đầu tư.
                    </p></li>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">VI. Các cụm công nghiệp:</p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">VII. Du lịch:</p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">- Khu du lịch Bửu Long - Vịnh Hạ Long trên cạn của miền Nam</p></li>
                    <li><p class="h4">- Khu du lịch Văn Hóa Sơn Tiên</p></li>
                    <li><p class="h4">- Khu du lịch Vườn Xoài</p></li>
                    <li><p class="h4">- Khu du lịch sinh thái Cù Lao Ba Xê</p></li>
                    <li>
                        <p class="h4">Ngoài ra, Các địa điểm tham quan, văn hóa, du lịch khác cũng khá phong phú:
                            Cù Lao Phố - phường Cù Lao giữa lòng Thành phố Biên Hòa cũng là một điểm du lịch khá phong phú và đặc sắc, với nhiều di tích lịch sử như: </p>
                        <ul style="margin-left: 20px;">
                            <li><p class="h4">- Chùa Ông: Được hình thành cách đây hơn 300 năm, chùa Ông – Thất Phủ cổ miếu (ở xã Hiệp Hòa, thành phố Biên Hòa, tỉnh Đồng Nai) được xem là ngôi chùa cổ nhất ở vùng đất Nam bộ hiện nay. Được phục dựng vào năm 1684 và được Bộ Văn hóa Thông tin (nay là Bộ Văn hoá Thể thao và Du lịch) xếp hạng là di tích lịch sử văn hóa cấp quốc gia vào năm 2001. </p></li>
                            <li><p class="h4">- Đền thờ Nguyễn Hữu Cảnh: Đền thờ Nguyễn Hữu Cảnh, còn được gọi là Đình Bình Kính thuộc địa phận xã Hiệp Hòa, Biên Hòa, Đồng Nai, Việt Nam. Là di tích lịch sử đã được Nhà nước xếp hạng ngày 25/3/1990. Nơi đây, nhân dân Biên Hòa thờ vị khai quốc công thần Nguyễn Hữu Cảnh – một danh nhân có nhiều công lao với đất nước trong việc mở mang, chấn chỉnh bờ cõi phía Nam Tổ quốc.</p></li>
                            <li><p class="h4">- Chùa Đại Giác: Chùa Đại Giác còn gọi là Đại Giác cổ tự, chùa Phật lớn hay chùa Tượng; xưa thuộc thôn Bình Hoành, xã Hiệp Hòa, tổng Trấn Biên; nay là khu phố Nhị Hòa, phường Hiệp Hòa, thành phố Biên Hòa, tỉnh Đồng Nai, Việt Nam.</p></li>
                            <li><p class="h4">- Đình Bình Quan: Đình Bình Quan thuộc địa phận ấp Tam Hòa, xã Hiệp Hòa, thành phố Biên Hòa. Khi mới xây dựng, đình có tên gọi là Võ Miếu, sau đổi thành Bình Quan cổ miếu. Tên gọi đình cho thấy đây là một cơ sở tín ngưỡng thờ thần hoàng bổn cảnh của dân thôn Bình Quan – một địa bàn dân cư được hình thành khá sớm trên vùng Cù lao Phố. Đình Bình Quan được xây dựng vào khoảng thế kỷ XIX. Lối kiến trúc theo kiểu thức nhà tứ trụ.</p></li> 
                            <li><p class="h4">- Văn Miếu Trấn Biên: Văn miếu được xây dựng đầu tiên ở xứ Đàng Trong (năm 1715), ngôi miếu này được lập lên để tôn vinh Khổng Tử và các danh nhân văn hóa nước Việt. Văn Miếu Trấn Biên ra đời được xem như là một “Văn Miếu Quốc Tử Giám” của vùng Nam Bộ. Một trong những biểu trưng cho truyền thống học tập, hào khí và văn hóa của người Việt phương Nam</p></li>
                            <li><p class="h4">- Núi Bửu Long và các chùa cổ, tịnh thất, cốc quanh núi (Chùa Bửu Phong, Chùa Long Ẩn,..)</p></li>
                            <li><p class="h4">- Đền Hùng phường Bình Đa</p></li> 
                        </ul>     
                    </li>             
                </ul>
            </li>
            <li><p class="h1" style="margin-top: 30px">IX. Tổng quan thành phố Biên Hòa qua flycam</p></li>
                <ul style="margin-left: 10px;">
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                    <li><p class="h4">-Cụm gỗ công nghiệp Tân Hòa</p></li>
                </ul>
            </li>
        </ul>


    </div>
    
    <!--Footer-->
    <%- include('layouts/footer'); -%>
    <!--Script-->
    <%- include('layouts/script'); -%>
</body>
</html>