<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Post</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
	<div>
		<%- include('layouts/header'); -%>
			<br /><br />
			<div class="container">
				<form method="POST" action="/post/process">
					<div class="form-group">
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"><b>District: </b></label>
							<input type="text" value="" name="district" class="form-control"
								id="exampleFormControlInput1">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"><b>Logo Image:</b></label>
							<input type="text" name="logo" value="" class="form-control" id="exampleFormControlInput1"
								placeholder="http://photo">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"><b>1. Image: </b></label>
							<input type="text" name="img1" value="" class="form-control" id="exampleFormControlInput1"
								placeholder="http://photo">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"><b>2. Image: </b></label>
							<input type="text" name="img2" value="" class="form-control" id="exampleFormControlInput1"
								placeholder="http://photo">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>I. Vị trí địa lý:
								</b></label>
							<textarea class="form-control" name="text1" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"><b>3. Image: </b></label>
							<input type="text" name="img3" value="" class="form-control" id="exampleFormControlInput1"
								placeholder="http://photo">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>II. Tổng quan: </b></label>
							<textarea class="form-control" name="text2" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>III. Đơn vị hành chính:
								</b></label>
							<textarea class="form-control" name="text3" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"><b>4. Image: </b></label>
							<input type="text" name="img4" value="" class="form-control" id="exampleFormControlInput1"
								placeholder="http://photo">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>IV. Điều kiện tự nhiên:
								</b></label>
							<textarea class="form-control" name="text4" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlInput1" class="form-label"><b>5. Image: </b></label>
							<input type="text" name="img5" value="" class="form-control" id="exampleFormControlInput1"
								placeholder="http://photo">
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>V. Kinh tế: </b></label>
							<textarea class="form-control" name="text5" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>VI. Các khu công nghiệp (1):
								</b></label>
							<textarea class="form-control" name="text6" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<!--10 pics-->
						<div id="photo1" style="margin-left: 60px;"></div>

						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>VI. Các khu công nghiệp (2):
								</b></label>
							<textarea class="form-control" name="text7" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>

						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>VII. Các cụm khu công nghiệp:
								</b></label>
							<textarea class="form-control" name="text8" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>VII. Du lịch (1):
								</b></label>
							<textarea class="form-control" name="text9" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<!--10 pics-->
						<div id="photo2" style="margin-left: 60px;"></div>

						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>VII. Du lịch (2):
								</b></label>
							<textarea class="form-control" name="text10" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label"><b>Iframe Youtube : </b></label>
							<textarea class="form-control" name="iframe" id="exampleFormControlTextarea1"
								rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-dark btn-lg btn-block">Submit</button>
						<br /><br />
					</div>
				</form>
			</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
	<script>
		document.getElementById("page").innerText = "> Đăng Bài";
		function photoNumber(number, img) {
			var imgArr;
			if (img == "img6") {
				imgArr = 7;
			} else {
				imgArr = 11;
			}
			for (let index = 1; index < imgArr; index++) {
				document.getElementById("photo" + number).innerHTML += `
                <div class="mb-3">
					<label for="exampleFormControlInput1" class="form-label">`+ index + ` Photo: </label>
					<input type="text" value="" name="`+ img + `.photo` + index + `" class="form-control" id="exampleFormControlInput1" placeholder="http://photo">
				</div>
                `;

			}

		}
		photoNumber(1, "img6");
		photoNumber(2, "img7");
	</script>
</body>

</html>