<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-veno">
                    <div class="logo">
                        <img src="client/img/footer_logo.png" alt="Venue Logo">
                    </div>
                    <p>Tận hưởng những đặc quyền nghỉ dưỡng thượng lưu tại hệ sinh thái Quohat Travel.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>THÔNG TIN LIEN HỆ</h4>
                    </div>
                    <ul>
                        <li><span>Address:</Address>:</span><a href="#">123456789</a></li>
                        <li><span>Phone:</span><a href="#">123456789</a></li>
                        <li><span>Email:</span><a href="#">quohat@travel.com</a></li>
                        <li><span>Address:</span><a href="#">quohat.travel.vn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <p>Copyright &copy; 2018 QUOHAT TRAVEL 

    - Design: <a rel="nofollow" href="http://www.templatemo.com">Quohat</a></p>
</div>