<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-veno">
                    <div class="logo">
                        <img src="/client/img/logo.png" alt="Logo" style="width: 50%;">
                    </div>
                    <p style="font-size: 20px;">Mô hình dạy học đặc điểm địa lý Đồng Nai.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>THÔNG TIN LIÊN HỆ</h4>
                    </div>
                    <ul>
                        <li><span>Phone:</span><a href="#">0966516259</a></li>
                        <li><span>Email:</span><a href="#">uommamkhoahockythuat@gmail.com</a></li>
                        <li><span>Page:</span><a href="https://www.facebook.com/uommamkhoahockythuat">uommamkhoahockythuat</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <p>Copyright &copy; 2021 ĐỒNG NAI QR CODE TRAVEL 

    - Design: <a rel="nofollow" href="">Club Ươm Mầm Khoa Học Kĩ Thuật </a></p>
</div>